In [1]:
import pandas as pd

In [4]:
pd.read_csv('data/bike_share_UCS_2_LE_BOM.tsv', encoding='utf_16_le', sep="\t")

           dteday  hr  cnt
0        1/1/2011   0   16
1        1/1/2011   1   40
2        1/1/2011   2   32
3        1/1/2011   3   13
4        1/1/2011   4    1
...           ...  ..  ...
17374  12/31/2012  19  119
17375  12/31/2012  20   89
17376  12/31/2012  21   90
17377  12/31/2012  22   61
17378  12/31/2012  23   49

[17379 rows x 3 columns]