In [1]:
import pandas as pd

In [4]:
pd.read_csv('data/bike_share_UCS_2_LE_BOM.tsv', encoding='utf_16_le', sep="\t")

           dteday  hr  cnt
0        1/1/2011   0   16
1        1/1/2011   1   40
2        1/1/2011   2   32
3        1/1/2011   3   13
4        1/1/2011   4    1
...           ...  ..  ...
17374  12/31/2012  19  119
17375  12/31/2012  20   89
17376  12/31/2012  21   90
17377  12/31/2012  22   61
17378  12/31/2012  23   49

[17379 rows x 3 columns]

----

In [5]:
data = pd.read_csv("data/thyroid.tsv", encoding='utf_16_le', sep="\t")

In [6]:
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,result,value
0,41,F,f,f,f,f,f,f,f,f,...,125,t,1.14,t,109,f,?,SVHC,negative.,3733
1,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative.,1442
2,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative.,2965
3,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative.,806
4,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative.,2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70,M,f,f,f,f,f,f,f,f,...,155,t,1.05,t,148,f,?,SVI,negative.,3689
2796,73,M,f,t,f,f,f,f,f,f,...,63,t,0.88,t,72,f,?,other,negative.,3652
2797,75,M,f,f,f,f,f,f,f,f,...,147,t,0.8,t,183,f,?,other,negative.,1287
2798,60,F,f,f,f,f,f,f,f,f,...,100,t,0.83,t,121,f,?,other,negative.,3496
2799,81,F,f,f,f,f,f,f,f,f,...,114,t,0.99,t,115,f,?,SVI,negative.,724

In [7]:
data.describe()

             value
count  2800.000000
mean   1895.603214
std    1091.130220
min       1.000000
25%     955.750000
50%    1913.000000
75%    2837.500000
max    3772.000000

In [8]:
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,result,value
0,41,F,f,f,f,f,f,f,f,f,...,125,t,1.14,t,109,f,?,SVHC,negative.,3733
1,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative.,1442
2,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative.,2965
3,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative.,806
4,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative.,2807

In [9]:
data.tail() # pięć ostatnich

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,result,value
2795,70,M,f,f,f,f,f,f,f,f,...,155,t,1.05,t,148,f,?,SVI,negative.,3689
2796,73,M,f,t,f,f,f,f,f,f,...,63,t,0.88,t,72,f,?,other,negative.,3652
2797,75,M,f,f,f,f,f,f,f,f,...,147,t,0.8,t,183,f,?,other,negative.,1287
2798,60,F,f,f,f,f,f,f,f,f,...,100,t,0.83,t,121,f,?,other,negative.,3496
2799,81,F,f,f,f,f,f,f,f,f,...,114,t,0.99,t,115,f,?,SVI,negative.,724